.lmsInput {
  height: 40px;
  border: 1px solid var(--stroke) !important;
  border-radius: 10px;
  font-size: 14px;
}

.lmsInput:focus {
  border-color: var(--primary) !important;
}
.lmsInput:hover {
  border-color: var(--primary) !important;
  border-inline-end-width: 1px !important;
}

.lmsInputSignIn {
  height: 56px;
  border: 2px solid var(--stroke);
  border-radius: 16px;
  color: #64748b !important;
  padding: 11px 20px;

  input::placeholder {
    color: #64748b !important;
  }
}

.lmsInputSignIn:focus {
  border-color: var(--primary);
  border-inline-end-width: 2px;
}
.lmsInputSignIn:hover {
  border-color: var(--primary) !important;
  border-inline-end-width: 2px !important;
}
