.button {
  color: #3F139D;
  background: #FFFFFF !important;
  width: 99px;
  height: 40px;
  border: 2px solid #E9EDFF;
  align-items: center;
  border-radius: 4px;
  font-weight: 700;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 20px;
}