.label {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  gap: 6px;
  padding: 10px 16px;
  height: 40px;

  border: 2px solid #e9edff;
  border-radius: 4px;
  cursor: pointer;
}

.name {
  font-size: 13px;
  line-height: 13px;
  text-align: center;
  letter-spacing: 1.08px;
  padding-bottom: 2px;

  color: var(--primary);
}
