.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  min-height: 124px;

  .fioRole {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2px;
    margin-top: 10px;
  }

  .fio {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: var(--white);
    max-height: 44px;
    overflow: hidden;
  }

  .role {
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.5px;
    color: var(--white);
    opacity: 0.5;
  }
}

.collapsed {
  display: flex;
  flex-direction: column;
  align-items: center;
  .fioRole {
    display: none;
  }
}
