.lang {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

@media (max-width: 1024px) {
  .lang {
    gap: 20px;
  }
}

@media (max-width: 768px) {
  .lang {
    flex-direction: column;
    gap: 16px;
  }
}
