.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;

  h3 {
    font-weight: 600;
    font-size: 20px;
  }

  .discript {
    font-weight: 600;
    font-size: 16px;
    color: var(--gray);
  }
}

.rejectTitle {
  color: var(--red);
}

.waitingTitle {
  color: var(--orange);
}

.warningTitle {
  color: var(--black);
}

.successTitle {
  color: var(--green);
}
